name: Trigger Service A Workflow

on:
  push:
    branches:
      - main # 当 main 分支发生变化时触发

 
jobs:
  trigger-service-a:
    runs-on: ubuntu-latest

    steps:
      # - name: Trigger Service A Dispatch
      #   uses: peter-evans/repository-dispatch@v3
      #   with:
      #     token: ${{ secrets.PAT_TOKEN }} 
      #     repository: SeanChenXH/servicea # Service A 仓库路径
      #     event-type: my-event # 必须是 workflow_dispatch
      #     client-payload: '{"inputs": {"imageNumber": "42"}}' # 传递参数
      - name: Dispatch an action and get the run ID
        uses: codex-/return-dispatch@v2
        id: return_dispatch
        with:
          ref: main
          token: ${{ secrets.PAT_TOKEN }}
          repo: servicea
          workflow_inputs: '{ "distinct_id": "320" }'
          owner: SeanChenXH
          workflow: blank.yml
          distinct_id: 42
      - name: Await Run ID ${{ steps.return_dispatch.outputs.run_id }}
        uses: Codex-/await-remote-run@v1.0.0
        with:
          token: ${{ secrets.PAT_TOKEN }}
          repo: servicea
          owner: SeanChenXH
          run_id: ${{ steps.return_dispatch.outputs.run_id }}
          run_timeout_seconds: 3000 # Optional
          poll_interval_ms: 5000 #
