name: Trigger Service A Workflow

on:
  push:
    branches:
      - main # 当 main 分支发生变化时触发

 
jobs:
  trigger-service-a:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Service A Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.PAT_TOKEN }} 
          repository: SeanChenXH/servicea # Service A 仓库路径
          event-type: workflow_dispatch # 必须是 workflow_dispatch
          client-payload: '{"inputs": {"imageNumber": "42"}}' # 传递参数
